<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sign and get signatures online">

    <title>Digital Yearbook</title>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <div class="signup-sglflex">
      <div class="signup-wrapper">
        <% if( login ) { %>
        <h1>
          You already have an account!
        </h1>
        <a href="/">Go Log In</a>
        <% } else { %>
        <h1>
          Check out your email!
        </h1>
        <p>
          It's from <b>support@incode-labs.com</b>
        </p>
        <a href="mail.google.com/mail/u/0">Gmail Link</a>
        <% } %>
      </div>
    </div>
  </body>
</html>
